@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  padding: 0px;
  margin: 0px;

  background: whitesmoke;
  //font-family: 'Poppins', sans-serif;
  font-family: 'Otomanopee One', sans-serif;
}

.wrapper{
  width: 100%;
  min-height: 100%;
}

.header{
  width: 100%;
  height: 30px;

  padding: 10px 0px;
  margin: 2px 0px;

  border: 1px solid red;
  text-align: center;
}