@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  padding: 0px;
  margin: 0px;

  background: whitesmoke;
  font-family: 'Otomanopee One', sans-serif;
}

.wrapper{
  width: 100%;
  min-height: 100%;
}

.header{
  width: 100%;
  height: 30px;

  padding: 10px 0px;
  margin: 2px 0px;

  border: 0px solid red;
  text-align: center;
}

.color-header{
  width: 90%;
  height: 300px;

  background: linear-gradient(-45deg, purple, #e73c7e, #ee7752);
  font-family: 'Poppins', sans-serif;

  padding: 0px;
  margin: 10px auto;

  border: 0px solid purple;
  border-radius: 20px;
}

.cards-section{
  width: 100%;
  height: auto;

  padding: 20px 0px;
  margin: 40px auto;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  background: linear-gradient(120deg, #ee7752, #e73c7e, purple);
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.card{
  width: 300px;
  height: 340px;
  min-width: 300px;

  padding: 20px 20px;
  margin: 10px 10px; 

  border: 1px solid lightgray;
  border-radius: 10px;

  background: whitesmoke;
  box-shadow: 1px 0px 0px 0px grey;
}